In [1]:
# import pandas
import pandas as pd

In [2]:
# read your csv in
df = pd.read_csv('../data/warn.csv')
df

,notice_date,event_number,reason,company,address,county,phone,business_type,affected,total_employees,layoff_date,dislocation,union,classification
0,4/30/2020,2019-1376,Temporary Plant Layoff,"Cast & Crew Payroll, LLC","7 Penn Plaza, Suite 601New York, NY 10001",New York County,(818) 848-6022,Payroll & HR Services,65,0,4/10/2020,Unforeseeable business circumstances prompted ...,The employees are not represented by a union,Temporary Plant Layoff
1,4/30/2020,2019-1187,Plant Layoff,Michael Page International Inc.,"622 Third Avenue, 29th FloorNew York, NY 10017",New York County,(203) 905-5216,Employment Agency,97,97,4/8/2020,Unforeseeable business circumstances prompted ...,The employees are not represented by a union,Plant Layoff
2,5/4/2020,2019-0278,Plant Layoff,"Jamestown Metal Products LLC, a division of In...","178 Blackstone AvenueJamestown, NY 14701",Chautauqua County,(731) 642-4251 Ext,Provide complete source for lab systems and su...,37,77,Separations,Economic,International Association of Machinists and Ae...,Plant Layoff
3,5/1/2020,2019-1214,Temporary Plant Closing,Westbury Manor Enterprises Inc.,"1100 Jericho TurnpikeWestbury, NY 11590",Nassau County,(516) 333-7117,Restaurant,123,123,3/22/2020,Unforeseeable business circumstances prompted ...,The employees are not represented by a union,Temporary Plant Closing
4,4/30/2020,2019-0377,Plant Closing,"Altman Lighting, Inc.","57 Alexander StreetYonkers, NY 10701",Westchester County,(303) 558-4300 Ext,"Theatrical, architectural, film and video ligh...",46,46,45,Relocation to Colorado,The employees are not represented by a union.,Plant Closing
5,5/4/2020,2019-1606,Temporary Plant Closing,"Hartz Hotel Services, Inc. (manager of The Rox...","2 Avenue of the AmericasNew York, NY 10013",New York County,(201) 272-5800,Hotel,79,79,5/15/2020,Unforeseeable business circumstances prompted ...,The employees are not represented by a union.,Temporary Plant Closing
6,5/5/2020,2019-1607,Plant Closing,RR Donnelley (TuckerPrinters facility),"270 Middle Rd.Henrietta, NY 14467",Monroe County,(716) 564-6469,Commercial Printing,33,33,5/5/2020,Unforeseeable business circumstances prompted ...,The employees are not represented by a union.,Plant Closing
7,4/28/2020,2019-1612,Plant Layoff,TripAdvisor LLC,"17 Battery PlaceNew York, NY 10004",New York County,(781) 800-5341,American online travel company,36,36,5/5/2020,Unforeseeable business circumstances prompted ...,The employees are not represented by a union.,Plant Layoff
8,4/15/2020,2019-1613,Temporary Plant Layoff,"PBM, LLC (Perfect Building Maintenance)","405 Lexington Avenue, 40th FloorNew York, NY 1...",New York County,(212) 244-3434,Building maintenance and cleaning services,349,0,3/9/2020,Unforeseeable business circumstances prompted ...,Local 32BJ SEIU,Temporary Plant Layoff
9,4/27/2020,2019-1507,Temporary Plant Layoff,Production Glue LLC,"252 W. 37th Street, Floor 7New York, NY 10018",New York County,(917) 304-3124,Event Company,49,0,3/27/2020,Unforeseeable business circumstances prompted ...,The employees are not represented by a union,Temporary Plant Layoff
10,4/27/2020,2019-1608,Temporary Plant Closing,Hoffman Car Wash,Multiple Capital Region locations,Albany/Warren/Saratoga County,(518) 389-2123,Car cleaning services,352,352,3/23/2020,Unforeseeable business circumstances prompted ...,The employees are not represented by a union.,Temporary Plant Closing

In [3]:
df = df.fillna(0)

In [5]:
df['affected'] = df['affected'].astype(int)
df['total_employees']

0       0
1      97
2      77
3     123
4      46
5      79
6      33
7      36
8       0
9       0
10    352
Name: total_employees, dtype: int64

In [6]:
# the rest of analysis is up to you! what kinds of questions can you ask this dataset?

In [7]:
county = df.county.value_counts()
county

New York County                  6
Nassau County                    1
Monroe County                    1
Albany/Warren/Saratoga County    1
Chautauqua County                1
Westchester County               1
Name: county, dtype: int64

In [8]:
County = pd.DataFrame(county)
County

                               county
New York County                     6
Nassau County                       1
Monroe County                       1
Albany/Warren/Saratoga County       1
Chautauqua County                   1
Westchester County                  1

In [9]:
County.head(10)

                               county
New York County                     6
Nassau County                       1
Monroe County                       1
Albany/Warren/Saratoga County       1
Chautauqua County                   1
Westchester County                  1

In [10]:
County.to_csv('../data/county.csv', index=False)

In [11]:
reason = df.reason.value_counts()
reason

Temporary Plant Layoff     3
Plant Layoff               3
Temporary Plant Closing    3
Plant Closing              2
Name: reason, dtype: int64

In [12]:
Reason = pd.DataFrame(reason)
Reason

                         reason
Temporary Plant Layoff        3
Plant Layoff                  3
Temporary Plant Closing       3
Plant Closing                 2

In [13]:
Reason.to_csv('../data/reason.csv', index=False)

In [14]:
business_type = df.business_type.value_counts()
business_type

Restaurant                                                                                                                                                                               1
Building maintenance and cleaning services                                                                                                                                               1
American online travel company                                                                                                                                                           1
Theatrical, architectural, film and video lighting                                                                                                                                       1
Event Company                                                                                                                                                                            1
Hotel                                                                                                                                                                                    1
Car cleaning services                                                                                                                                                                    1
Payroll & HR Services                                                                                                                                                                    1
Commercial Printing                                                                                                                                                                      1
Employment Agency                                                                                                                                                                        1
Provide complete source for lab systems and sustainable, adaptable casework of painted steel, wood or stainless steel complete with specified fixtures, fume hoods and work surfaces.    1
Name: business_type, dtype: int64

In [15]:
Business_type = pd.DataFrame(business_type)
Business_type

                                                    business_type
Restaurant                                                      1
Building maintenance and cleaning services                      1
American online travel company                                  1
Theatrical, architectural, film and video lighting              1
Event Company                                                   1
Hotel                                                           1
Car cleaning services                                           1
Payroll & HR Services                                           1
Commercial Printing                                             1
Employment Agency                                               1
Provide complete source for lab systems and sus...              1

In [16]:
Business_type.head(10)

                                                    business_type
Restaurant                                                      1
Building maintenance and cleaning services                      1
American online travel company                                  1
Theatrical, architectural, film and video lighting              1
Event Company                                                   1
Hotel                                                           1
Car cleaning services                                           1
Payroll & HR Services                                           1
Commercial Printing                                             1
Employment Agency                                               1

In [17]:
Business_type.to_csv('../data/business_type.csv', index=False)

In [18]:
type_affected = df.set_index(['business_type', 'affected'])
type_affected

,,notice_date,event_number,reason,company,address,county,phone,total_employees,layoff_date,dislocation,union,classification
business_type,affected,,,,,,,,,,,,
Payroll & HR Services,65,4/30/2020,2019-1376,Temporary Plant Layoff,"Cast & Crew Payroll, LLC","7 Penn Plaza, Suite 601New York, NY 10001",New York County,(818) 848-6022,0,4/10/2020,Unforeseeable business circumstances prompted ...,The employees are not represented by a union,Temporary Plant Layoff
Employment Agency,97,4/30/2020,2019-1187,Plant Layoff,Michael Page International Inc.,"622 Third Avenue, 29th FloorNew York, NY 10017",New York County,(203) 905-5216,97,4/8/2020,Unforeseeable business circumstances prompted ...,The employees are not represented by a union,Plant Layoff
"Provide complete source for lab systems and sustainable, adaptable casework of painted steel, wood or stainless steel complete with specified fixtures, fume hoods and work surfaces.",37,5/4/2020,2019-0278,Plant Layoff,"Jamestown Metal Products LLC, a division of In...","178 Blackstone AvenueJamestown, NY 14701",Chautauqua County,(731) 642-4251 Ext,77,Separations,Economic,International Association of Machinists and Ae...,Plant Layoff
Restaurant,123,5/1/2020,2019-1214,Temporary Plant Closing,Westbury Manor Enterprises Inc.,"1100 Jericho TurnpikeWestbury, NY 11590",Nassau County,(516) 333-7117,123,3/22/2020,Unforeseeable business circumstances prompted ...,The employees are not represented by a union,Temporary Plant Closing
"Theatrical, architectural, film and video lighting",46,4/30/2020,2019-0377,Plant Closing,"Altman Lighting, Inc.","57 Alexander StreetYonkers, NY 10701",Westchester County,(303) 558-4300 Ext,46,45,Relocation to Colorado,The employees are not represented by a union.,Plant Closing
Hotel,79,5/4/2020,2019-1606,Temporary Plant Closing,"Hartz Hotel Services, Inc. (manager of The Rox...","2 Avenue of the AmericasNew York, NY 10013",New York County,(201) 272-5800,79,5/15/2020,Unforeseeable business circumstances prompted ...,The employees are not represented by a union.,Temporary Plant Closing
Commercial Printing,33,5/5/2020,2019-1607,Plant Closing,RR Donnelley (TuckerPrinters facility),"270 Middle Rd.Henrietta, NY 14467",Monroe County,(716) 564-6469,33,5/5/2020,Unforeseeable business circumstances prompted ...,The employees are not represented by a union.,Plant Closing
American online travel company,36,4/28/2020,2019-1612,Plant Layoff,TripAdvisor LLC,"17 Battery PlaceNew York, NY 10004",New York County,(781) 800-5341,36,5/5/2020,Unforeseeable business circumstances prompted ...,The employees are not represented by a union.,Plant Layoff
Building maintenance and cleaning services,349,4/15/2020,2019-1613,Temporary Plant Layoff,"PBM, LLC (Perfect Building Maintenance)","405 Lexington Avenue, 40th FloorNew York, NY 1...",New York County,(212) 244-3434,0,3/9/2020,Unforeseeable business circumstances prompted ...,Local 32BJ SEIU,Temporary Plant Layoff
Event Company,49,4/27/2020,2019-1507,Temporary Plant Layoff,Production Glue LLC,"252 W. 37th Street, Floor 7New York, NY 10018",New York County,(917) 304-3124,0,3/27/2020,Unforeseeable business circumstances prompted ...,The employees are not represented by a union,Temporary Plant Layoff
Car cleaning services,352,4/27/2020,2019-1608,Temporary Plant Closing,Hoffman Car Wash,Multiple Capital Region locations,Albany/Warren/Saratoga County,(518) 389-2123,352,3/23/2020,Unforeseeable business circumstances prompted ...,The employees are not represented by a union.,Temporary Plant Closing

In [19]:
affected_type = df[['business_type','affected']]
affected_type

                                        business_type  affected
0                               Payroll & HR Services        65
1                                   Employment Agency        97
2   Provide complete source for lab systems and su...        37
3                                          Restaurant       123
4   Theatrical, architectural, film and video ligh...        46
5                                               Hotel        79
6                                 Commercial Printing        33
7                      American online travel company        36
8          Building maintenance and cleaning services       349
9                                       Event Company        49
10                              Car cleaning services       352

In [20]:
df['affected'] = df['affected'].astype(int).astype(str)

In [21]:
affected_type.sort_values("affected", ascending=False)

                                        business_type  affected
10                              Car cleaning services       352
8          Building maintenance and cleaning services       349
3                                          Restaurant       123
1                                   Employment Agency        97
5                                               Hotel        79
0                               Payroll & HR Services        65
9                                       Event Company        49
4   Theatrical, architectural, film and video ligh...        46
2   Provide complete source for lab systems and su...        37
7                      American online travel company        36
6                                 Commercial Printing        33

In [22]:
affected_type.head(20)

                                        business_type  affected
0                               Payroll & HR Services        65
1                                   Employment Agency        97
2   Provide complete source for lab systems and su...        37
3                                          Restaurant       123
4   Theatrical, architectural, film and video ligh...        46
5                                               Hotel        79
6                                 Commercial Printing        33
7                      American online travel company        36
8          Building maintenance and cleaning services       349
9                                       Event Company        49
10                              Car cleaning services       352